<div>
    <h4>Dinner for {{getNumberOfGuests()}}</h4>
</div>
<div>
	<p>Number of guest:</p>
    <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dish name</th>

                <th>Cost (SEK)</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="dish in getFullMenu()">
                <td>{{dish.Title}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button class="btn btn-default" id="view2ConfirmDinnerBtn" type="button">Confim Dinner</button>
</div>
