<div>
    <h4>Dinner for {{getNumberOfGuests()}}</h4>
</div>
<div>
	<p>Number of guest:</p>
    <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dish name</th>
                <th>Cost (SEK)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dish in getFullMenu()">
                <td>{{dish.Title}}</td>
                <td>{{dish.Price*getNumberOfGuests()}}</td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>{{getTotalMenuPrice()}}</td>
        </tbody>
    </table>
</div>
<div>
    <a href="#/summary" class="btn btn-primary">Confirm Dinner</a>
</div>
