<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 text-center" id="view2">
			<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl" />
		</div>
		<div class="col-md-10">
			<div class="row bg-info" id="searchPanel">
			    <div class="col-md-6">
			        <div class="input-group">
			            <input type="text" class="form-control" ng-model="query"/>
			            <span class="input-group-btn">
			                <button class="btn btn-default" type="button" ng-click="search(query)">
			                	Search
			                </button>
			            </span>
			        </div>
			    </div>
			    <div class="col-md-6">
			        <form role="form">
			            <div class="form-group">
			                <select class="form-control" ng-model="category" ng-change="search(category)" >
			                	<option value="" disabled="">Select here or search</option>
			                    <option value="starter">Starter</option>
			                    <option value="main">Main dish</option>
			                    <option value="dessert">Dessert</option>
			                </select>
			            </div>
			        </form>
			    </div>
			</div>
		    {{status}}
		    <div ng-repeat="dish in dishes">
			    <div class="col-md-2">
                    <h4>{{dish.Title}}</h4>
				    <a ng-href="#/dish/{{dish.RecipeID}}">
				 	    <img ng-src="{{dish.ImageURL}}"  width="200" height="200" />
				     </a>
			     </div>
		    </div>
	    </div>
	</div>
</div>
